@{
    ViewBag.Title = "Index";
}
<div class="btn-group">
   

</div>

<article class="col-xs-12 col-md-12 col-lg-12">
    <h3 class="panel-heading">
        HTML 5
    </h3>
    <div class="panel-body">
        <p>
            <b>HTML5</b> ist der neue Webstandard. Entstanden ist er aus Vorschlägen der von führenden Browserherstellern gegründeten
            <i>Web Hypertext Application Technology Group (WHATWG)</i> für einen Nachfolger von <b>HTML 4.01</b>. Zuständig für den HTML- Standard
            war ursprünglich das <b>W3C</b>. Jedoch hatte sich dieses bei der Entwicklung eines Nachfolgers mit <b>XHTML 2.0</b> verzettelt.
            Details dazu kann man <a href="http://de.wikipedia.org/wiki/HTML5" target="_blank">hier</a> nachlesen.
        </p>
        <h4>Version versus versionslos</h4>
        <p>
            Die <b>WHATWG</b> verzichtet in ihrer Spezifikation von <b>HTML</b> bewust auf die Versionsnummer, da ein laufender (versionsloser)
            Standardisierungsprozess der Weg zum Ziel ist. Für die <b>WHATWG</b> bezeichnet <b>HTML</b> den Webstandard.
        </p>
        <p>
            Hingegen strebt das <a href="http://www.w3.org/blog/news/archives/4167" target="_blank"><b>W3C</b></a> nach wie vor die Herausgabe
            von "Momentaufnahmen" des Standardisierungsprozesses mit einer festen Versionsnummer an.
            Im Jahr 2014 wurde so <b>HTML 5</b> als Nachfolger von <b>HTML 4.01</b> gekürt.
        </p>
        <figure>
            <figcaption>
                Historie
            </figcaption>
            <img src="~/Content/pics/HTML5/HTML5-Historie.svg" class="img-responsive" style="width:100%" />
        </figure>
        <h4>Was ist neu?</h4>
        <p>
            <b>HTML5</b> erweitert das Markup um Elemente für <i>sematische Textauszeichung</i> und für die Integration von Vektorgrafik und Multimediainhalte.
            Dadurch kann auf den Einsatz von <i>Plugins</i> wie <a href="http://de.wikipedia.org/wiki/Adobe_Flash" target="_blank"><b>Adobe Flash</b></a>
            oder <a href="http://de.wikipedia.org/wiki/Microsoft_Silverlight" target="_blank"><b>MS Silverlight</b></a> verzichtet werden.
        </p>
        <p>
            Neuerungen:
            <ol>
                <li>Neue Tags für <i>semantische Textauszeichnung</i></li>
                <li>"Wiederbelebung" von in <b>HTML 4.01</b> verpönter Tags als semantische wie
                            &lt;b&gt;, &lt;i&gt;, &lt;s&gt; als semantische Tags
                        </li>
                        
                <li>

                </li>
            </ol>
        </p>
        <h4>Das große Comeback von <b>JavaScript</b></h4>
        <p>
            Viel neue Features von <b>HTML5</b> wie 2D und 3D Grafikerzeugung im &lt;canvas&gt; Element oder
            Offlinedatenspeicherung im Browser erschließen sich nur mit <b>JavaScript</b>.

        </b>
    </div>

</article>

