
@{
    ViewBag.Title = "OutlineClassic";
    Layout = null;
}

<h1>Outlinealgo in HTML 4.01</h1>

<h1>Sonnensystem</h1>
<h2>Zentralköper</h2>
<p>Sonne</p>
<h2>Trabanten</h2>
<h3>Merkur</h3>
<h3>Venus</h3>
<h3>Erde</h3>
<h4>Monde</h4>
<h5>Erdmond</h5>
<h3>Mars</h3>
<h4>Monde</h4>
<h5>Phobos</h5>
<h5>Deimos</h5>
<h3>Jupiter</h3>
<h4>Monde</h4>
<h5>Ganymed</h5>
<h5>Callisto</h5>
<h5>Io</h5>
<h5>Europa</h5>    


