
@{
    ViewBag.Title = "OutlineHTML5";
    Layout = null;
}

<article>
    <h1>Outlinealgo in HTML 5</h1>
    <section>
        <h1>Sonnensystem</h1>
        <section>
            <h1>Trabanten</h1>
            <section>
                <h1>Merkur</h1>
            </section>
            <section>
                <h1>Venus</h1>
            </section>
            <section>
                <h1>Erde</h1>
                <section>
                    <h1>Monde</h1>
                    <h2>Erdmond</h2>
                </section>
            </section>
            <section>
                <h1>Mars</h1>
                <section>
                    <h1>Monde</h1>
                    <h2>Phobos</h2>
                    <h2>Deimos</h2>
                </section>
            </section>
            <section>
                <h1>Jupiter</h1>
                <section>
                    <h1>Monde</h1>
                    <h2>Ganymed</h2>
                    <h2>Callisto</h2>
                    <h2>Io</h2>
                    <h2>Europa</h2>
                </section>
            </section>
        </section>
    </section>
</article>

