@{
    ViewBag.Title = "U01SemTags_article_co";
}

<header>
    <h2>U01SemTags_article_co</h2>
    <nav>
        <a href="#Jupiter">Jupiter</a>
        <a href="#Saturn">Saturn</a>
    </nav>
</header>

<section id="sandbox" >

    <a name="Jupiter">
        <article >
            <h1>Jupiter, im Auge des Sturms</h1>
            <aside>
                <dl class="dl-horizontal">
                    <dt>
                        Abstand zur Sonne
                    </dt>
                    <dd>
                        <meter value="5.203" min="4.95" max="5.46">5,203 AE</meter>
                    </dd>
                    <dt>
                        Durchmesser
                    </dt>
                    <dd>
                        <meter value="142984.0">142984,0 km</meter>
                    </dd>
                </dl>
            </aside>
            <figure>
                <figcaption>
                    Aufgenomen von <a href="http://en.wikipedia.org/wiki/Cassini%E2%80%93Huygens" target="_blank">Cassini–Huygens </a> am <time datetime="2000-12-07">7. Dec. 2000</time>
                </figcaption>
                <img src="~/Content/pics/Jupiter-med.jpg" class="img-circle" />
            </figure>
            <section class="multiCol">
                <p>
                    Jupiter ist der stürmische Gasriese. Dabei dreht er sich in 10h einmal um seine eigene Achse - bezüglich der Oberflächengeschwindigkeit ist
                    das Rekord im Sonnensystem ! Auch in Punkto Masse ist er unter den Planeten Rekordhalter: er vereinigt etwa die 2,5 fache Masse aller restlichen
                    Planten, und ist damit 318 mal so schwer wie die Erde !
                </p>
            </section>
            <section class="moons">
                <h1>Monde</h1>
                <figure>
                    <figcaption>Callisto</figcaption>
                    <img src="~/Content/pics/Callisto-small.jpg" class="img-thumbnail" />
                </figure>
                <figure>
                    <figcaption>Ganymed</figcaption>
                    <img src="~/Content/pics/Ganymede-small.jpg" class="img-thumbnail" />
                </figure>
                <figure>
                    <figcaption>Europa</figcaption>
                    <img src="~/Content/pics/Europa-small.jpg" class="img-thumbnail" />
                </figure>
                <figure>
                    <figcaption>Io</figcaption>
                    <img src="~/Content/pics/Io-small.jpg" class="img-thumbnail" />
                </figure>
            </section>
        </article>
    </a>

    <article id="Saturn" >
        <h1>Saturn, Herr der Ringe</h1>
        <aside>
            <dl class="dl-horizontal">
                <dt>
                    Abstand zur Sonne
                </dt>
                <dd>
                    <meter value="9.5826" min="9.0412" max="10.1238">9,5826 AE</meter>
                </dd>
                <dt>
                    Durchmesser
                </dt>
                <dd>
                    <meter value="120536.0">120536,0 km</meter>
                </dd>
            </dl>
        </aside>
        <figure>
            <figcaption>
                Aufgenomen von <a href="http://en.wikipedia.org/wiki/Cassini%E2%80%93Huygens" target="_blank">Cassini–Huygens </a> am <time datetime="2004-10-06">7. Dec. 2000</time>
            </figcaption>
            <img src="~/Content/pics/Saturn-med.jpg" class="img-circle" />
        </figure>
        <section class="multiCol">
            <p>
                Die Ringwelt des Saturns ist einzigartig. Kein Planet wirkt so exotisch wie er. Neben den Ringen umrunden Saturn 62 Monde. Titan ist dabei fast so
                groß wie der Mars. Aber auch der kleine Enceladus mit 500 km Durchmesser ist beeindruckend, hat seine schneeweise Oberfläche doch die größte
                Albedo im Sonnensystem (=Reflexionsvermögen).
            </p>
        </section>
        <section class="moons">
            <h2>Monde</h2>

            <figure>
                <figcaption>Enceladus</figcaption>
                <img src="~/Content/pics/Enceladus-small.jpg" class="img-thumbnail" />
            </figure>

            <figure>
                <figcaption>Titan</figcaption>
                <img src="~/Content/pics/Titan-small.png" class="img-thumbnail" />
            </figure>

        </section>
    </article>

</section>