<div class="panel panel-primary">
    <div class="panel-heading">Autocomplete</div>
    <div class="panel-body" id="Autocomplete" data-websrv-url='@Url.Action("AjaxAutocompleteProposalBox", "E03_JavaScriptLernen")'>
        <div id="AutocompleteText" contenteditable="true" style="display: inline; border: none;" tabindex="1">
            Hallo W
        </div>
        <div id="AutocompleteProposalBoxes" style="display:inline-block; background-color: lightblue; vertical-align:text-top;">
           <!-- Hier wird die Partielle View **AjaxAutoCompleteProposalBox** eingeblendet-->
        </div>
    </div>
</div>

@* JavaScript einbinden *@
@*<script src="~/Scripts/JavaScriptLernen/Ajax/AjaxAutoComplete.js"></script>*@