
@{
    ViewBag.Title = "Astro";
}

<h2>Astro</h2>
Demo eine JavaScript Klassenbibliothek

<script src="~/Scripts/JavaScriptLernen/Astro/require.js" 
        data-main="/Scripts/JavaScriptLernen/Astro/app.js"></script>

