
@{
    ViewBag.Title = "AstroQUnit";
}

<h2>Astro pseudoklassisch</h2>
<p>
Testen der Astro- Bibliothek. Diese ist ein Beispiel für die pseudoklassische Vererbung. 
    <figure>
        <img src="~/Content/pics/JavaScript/AstroLib.svg" class="img-responsive" />
        <figcaption>
            Vererbungshierarchie von Astro
        </figcaption>
    </figure>
    </p>
<div>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</div>

<script src="~/Scripts/require.js"
        data-main="/Scripts/JavaScriptLernen/Astro/Test.js"></script>


@* Style wird für Gestaltung der QUnit- Testausgabe benötigt *@
@section Styles {
    <link rel="stylesheet" href="~/Content/qunit.css" />
}
