@{
    ViewBag.Title = "Basics_06";
}

@* Hilfprogramme, um das Markup zu vereinfachen *@
@helper ShowJavaScriptrLernenView(string Title, string ViewName)
{
    @Html.ActionLink(Title, "ShowView", new { controller = "E03_JavaScriptLernen", viewName = ViewName })
}




@using (Html.BeginForm())
{
    <h2>Objektorientierte Programmierung in JavaScript</h2>
    
    <ol>
        <li>@ShowJavaScriptrLernenView("JavaScript Objekte erzeugen, Objektliterale", "B06_01_OO_Literal")</li>
        <li>@ShowJavaScriptrLernenView("Konstruktor- Idiom und pseudoklassische Vererbung", "B06_02_OO_Konstruktor_Idiom")</li>
        <li>@ShowJavaScriptrLernenView("Prototypische Vererbung", "B06_03_OO_Module_und_Protoypische_Vererbung")</li>
    </ol>

       
       



}


