
@{
    ViewBag.Title = "lodashTests";
}

<h2>Funktionale Programmierung mit lodash und Underscore.js</h2>

<ol>
    <li>Homepage von <a href="http://underscorejs.org/#" target="_blank">Underscore.js</a></li>
    <li>Hintergrundinfos zu <b>Underscore.js</b> gibt es <a href="https://de.wikipedia.org/wiki/Underscore.js" target="_blank">hier</a></li>
    <li>Homepage von <a href="https://lodash.com/" target="_blank">lodash</a></li>
</ol>

<p>
    lodash ist eine Weiterentwicklung der Bibliothek <a href="http://underscorejs.org/#" target="_blank">Underscore.js</a>.
    Wie Underscore implementiert auch lodash viele Funktionen, durch die eine fuktionale Listenverarbeitung
    in JavaScript möglich wird.
</p>

<h2>Tests Funktionale Programmierung mit lodash</h2>
<div>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</div>

<script src="~/Scripts/require.js"
        data-main="/Scripts/JavaScriptLernen/lodash/Tests.js"></script>


@* Style wird für Gestaltung der QUnit- Testausgabe benötigt *@
@section Styles {
    <link rel="stylesheet" href="~/Content/qunit.css" />
}




