@{
    ViewBag.Title = "NodeJSandNPM";
}

<article class="row">

    <section class="col-sm-12">

        <h1>Node.JS - JavaScript zentrierter Diensthost</h1>
        <p>
            <b><a href="https://nodejs.org/en/" target="_blank">node.js</a></b> ist eine Laufzeitumgebung für <b>JavaScript</b>. Sie basiert auf
            <b>Googles</b> JavaScript - Laufzeitumgebung für <b>Chrome</b>, Version 8 (<b>V8</b>).
        </p>
        <p>
            <figure>
                <img src="~/Content/pics/JavaScript/Node.JS.svg" style="width:40%" />
            </figure>
            Auf Node.js bauen viele Tools und Dienste wie der Package- Manager <b>NPM</b>, oder das Automatisieurngstool <b>Grunt</b> auf
        </p>
        <p>
            <b>Node.js</b> setzt konsequent auf das Muster der <i>asynchronen Funktionen</i> in JavaScript.
            <figure>
                <img src="~/Content/pics/JavaScript/PatternAsyncFunction.svg" class="img-responsive" />
                <figcaption>
                    Verarbeitung asynchroner Funktionen, betrachtet über den Zeitstrahl.
                </figcaption>
            </figure>
            Diese vermeiden prinzipiell ein Blokieren des Systems bei Ein/Ausgaben. So
            können mit Node.js Dienste wie Webserver oder Web-Services effizient in JavaScript
            implementiert werden.
        </p>

    </section>
    <section class="col-sm-12">
        <h1>NPM - der Node.JS Package- Manager</h1>
        <p>
            Viele Tools und Bibliotheken, die der JavaScript- Programmierer benötigt, werden über den <a href="https://www.npmjs.com/" target="_blank">NPM- Package- Manager</a> bereitgestellt.
        </p>
        <p>
            Ein Package- Manager ermöglicht nicht nur den Download einer Softwarebibliothekt. Er ermittelt auch alle Bibliotheken, auf denen die herunterzuladende 
            Bibliothek basiert, und lädt diese ebenfalls herunter.
        </p>
        <p>
            
        </p>
    </section>

</article>