@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Canvas Painter Basic's Tests</h2>

<div>
    <div id="qunit"></div>
    <div id="qunit-fixture">
    </div>
</div>

<script src="~/Scripts/require.js"
        data-main="/Scripts/mk-prg-net/CanvasPainter/Test/BasicsTest.js"></script>


@* Style wird für Gestaltung der QUnit- Testausgabe benötigt *@
@section Styles {
    <link rel="stylesheet" href="~/Content/qunit.css" />
}






