
@{
    ViewBag.Title = "PrimNumbersTest";
}

<h2>PrimNumbersTest</h2>

<div>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
</div>

<script src="~/Scripts/require.js"
        data-main="/Scripts/mk-prg-net/Tests/NumberTheoryPrimNumbers.js"></script>


@* Style wird für Gestaltung der QUnit- Testausgabe benötigt *@
@section Styles {
    <link rel="stylesheet" href="~/Content/qunit.css" />
}


